# NYC, NY

In [2]:
import pandas as pd
import numpy as np

In [3]:
nyc_2021 = pd.read_csv("../NYC_Data/NYPD_Complaint_Data_Current__Year_To_Date_.csv", 
dtype= {0: "string"}, 
parse_dates= {"complaint_from": [3, 4], "complaint_to": [5, 6]}
)

In [4]:
nyc_2021.head(100)

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,2021-03-31 15:08:00,03/31/2021 15:12:00,825041611,84,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",POINT (-73.98633121699999 40.69105856700002)
1,2021-03-27 19:29:00,nan nan,206649900,7,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",POINT (-73.98713051799997 40.71608268700004)
2,2021-03-27 13:00:00,nan nan,294801329,75,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",POINT (-73.87513706799997 40.66818803900002)
3,2021-03-26 16:40:00,nan nan,270261096,14,MANHATTAN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",POINT (-73.98928217599996 40.75043076800005)
4,2021-03-26 13:09:00,03/26/2021 14:29:00,433883572,110,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",POINT (-73.86537333399998 40.74960053300003)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-01-06 12:10:00,01/06/2021 16:45:00,444277080,75,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,UNKNOWN,M,1022966,182558,40.667680,-73.860442,"(40.66767983500005, -73.86044161899997)",POINT (-73.86044161899997 40.66767983500005)
96,2021-01-05 21:01:00,01/05/2021 21:03:00,211944241,67,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,1004936,173083,40.641734,-73.925463,"(40.64173351900007, -73.92546349699995)",POINT (-73.92546349699995 40.64173351900007)
97,2021-01-05 15:30:00,01/05/2021 15:35:00,531307550,105,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,F,1055614,186261,40.677641,-73.742716,"(40.67764073700005, -73.74271647099994)",POINT (-73.74271647099994 40.67764073700005)
98,2021-01-04 14:00:00,01/04/2021 14:05:00,309822687,40,BRONX,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1008624,236597,40.816054,-73.911944,"(40.81605443800004, -73.91194446899993)",POINT (-73.91194446899993 40.81605443800004)
99,2020-12-14 09:00:00,12/14/2020 09:30:00,830436998,106,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1036642,187956,40.682426,-73.811102,"(40.68242573300005, -73.81110182399993)",POINT (-73.81110182399993 40.68242573300005)

In [5]:
nyc_2021.columns = nyc_2021.columns.str.lower()

In [6]:
nyc_2021['rpt_dt'] = pd.to_datetime(nyc_2021['rpt_dt'])

In [7]:
nyc_2021.columns

Index(['complaint_from', 'complaint_to', 'cmplnt_num', 'addr_pct_cd',
       'boro_nm', 'crm_atpt_cptd_cd', 'hadevelopt', 'housing_psa',
       'jurisdiction_code', 'juris_desc', 'ky_cd', 'law_cat_cd',
       'loc_of_occur_desc', 'ofns_desc', 'parks_nm', 'patrol_boro', 'pd_cd',
       'pd_desc', 'prem_typ_desc', 'rpt_dt', 'station_name', 'susp_age_group',
       'susp_race', 'susp_sex', 'transit_district', 'vic_age_group',
       'vic_race', 'vic_sex', 'x_coord_cd', 'y_coord_cd', 'latitude',
       'longitude', 'lat_lon', 'new georeferenced column'],
      dtype='object')

In [8]:
nyc_2021.dropna(how="all", axis=1, inplace=True)

In [9]:
nyc_2021.head()

,complaint_from,complaint_to,cmplnt_num,addr_pct_cd,boro_nm,crm_atpt_cptd_cd,hadevelopt,housing_psa,jurisdiction_code,juris_desc,...,transit_district,vic_age_group,vic_race,vic_sex,x_coord_cd,y_coord_cd,latitude,longitude,lat_lon,new georeferenced column
0,2021-03-31 15:08:00,03/31/2021 15:12:00,825041611,84,BROOKLYN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",POINT (-73.98633121699999 40.69105856700002)
1,2021-03-27 19:29:00,nan nan,206649900,7,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",POINT (-73.98713051799997 40.71608268700004)
2,2021-03-27 13:00:00,nan nan,294801329,75,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,...,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",POINT (-73.87513706799997 40.66818803900002)
3,2021-03-26 16:40:00,nan nan,270261096,14,MANHATTAN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",POINT (-73.98928217599996 40.75043076800005)
4,2021-03-26 13:09:00,03/26/2021 14:29:00,433883572,110,QUEENS,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,...,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",POINT (-73.86537333399998 40.74960053300003)

In [10]:
nyc_2021['rpt_dt']

0       2021-03-31
1       2021-03-28
2       2021-03-27
3       2021-03-26
4       2021-03-26
           ...
96729   2021-01-03
96730   2021-01-02
96731   2021-01-06
96732   2021-01-04
96733   2021-01-01
Name: rpt_dt, Length: 96734, dtype: datetime64[ns]

In [11]:
nyc_2020 = pd.read_csv(
"../NYC_Data/NYPD_Complaint_Data_Historic.csv", 
dtype={0: "string", 18: "string", 20: "string"}, 
#parse_dates={"complaint_from": [1, 2], "complaint_to": [3, 4]}
parse_dates=['RPT_DT', ["CMPLNT_FR_DT", "CMPLNT_FR_TM"], ["CMPLNT_TO_DT", "CMPLNT_TO_TM"]]
)

nyc_2020 = nyc_2020.rename(columns={"CMPLNT_FR_DT_CMPLNT_FR_TM": "complaint_from", "CMPLNT_TO_DT_CMPLNT_TO_TM":	"complaint_to"})

#retrieved 7/16/21

In [12]:
nyc_2020.head()

,complaint_from,complaint_to,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,12/31/2019 17:30:00,nan nan,394506329,32.0,2019-12-31,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,COMPLETED,...,NaN,NaN,40.820927,-73.943324,"(40.82092679700002, -73.94332421899996)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,E
1,12/29/2019 16:31:00,12/29/2019 16:54:00,968873685,47.0,2019-12-29,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,...,NaN,NaN,40.885701,-73.861640,"(40.885701406000074, -73.86164032499995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
2,12/15/2019 18:45:00,nan nan,509837549,109.0,2019-12-29,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,...,M,NaN,40.742281,-73.819824,"(40.74228115600005, -73.81982408)",PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,F
3,12/28/2019 01:00:00,nan nan,352454313,47.0,2019-12-28,126,MISCELLANEOUS PENAL LAW,117.0,RECKLESS ENDANGERMENT 1,COMPLETED,...,M,NaN,40.875311,-73.847545,"(40.87531145100007, -73.84754521099995)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E
4,09/05/2008 21:41:00,nan nan,248803469,NaN,2008-09-05,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.698827,-73.938819,"(40.698827283, -73.938819047)",NaN,NaN,25-44,BLACK,M

In [13]:
nyc_2020.columns = nyc_2020.columns.str.lower()

In [14]:
nyc_2020.columns

Index(['complaint_from', 'complaint_to', 'cmplnt_num', 'addr_pct_cd', 'rpt_dt',
       'ky_cd', 'ofns_desc', 'pd_cd', 'pd_desc', 'crm_atpt_cptd_cd',
       'law_cat_cd', 'boro_nm', 'loc_of_occur_desc', 'prem_typ_desc',
       'juris_desc', 'jurisdiction_code', 'parks_nm', 'hadevelopt',
       'housing_psa', 'x_coord_cd', 'y_coord_cd', 'susp_age_group',
       'susp_race', 'susp_sex', 'transit_district', 'latitude', 'longitude',
       'lat_lon', 'patrol_boro', 'station_name', 'vic_age_group', 'vic_race',
       'vic_sex'],
      dtype='object')

In [15]:
nyc_2020 = nyc_2020[nyc_2020['rpt_dt'] >= '2020-06-30']

In [16]:
nyc_2020.dropna(how="all", axis=1, inplace=True)

In [17]:
nyc_2020.head()

,complaint_from,complaint_to,cmplnt_num,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,susp_sex,transit_district,latitude,longitude,lat_lon,patrol_boro,station_name,vic_age_group,vic_race,vic_sex
121,12/22/2020 17:46:00,nan nan,808857971,32.0,2020-12-22,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)",NaN,NaN,25-44,BLACK HISPANIC,M
652,09/02/2020 20:40:00,nan nan,990133707,70.0,2020-09-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.651323,-73.956961,"(40.65132343000005, -73.95696100099997)",NaN,NaN,18-24,BLACK,M
662,07/20/2020 23:44:00,nan nan,420348781,52.0,2020-07-20,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.877554,-73.872939,"(40.877554428000046, -73.87293947099994)",NaN,NaN,18-24,WHITE HISPANIC,M
663,07/02/2020 01:07:00,nan nan,462496511,44.0,2020-07-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.837782,-73.919458,"(40.83778161800007, -73.91945797099999)",NaN,NaN,25-44,BLACK HISPANIC,M
669,11/04/2020 09:14:00,nan nan,921351410,28.0,2020-11-04,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.799467,-73.951531,"(40.799466801000044, -73.95153053599995)",NaN,NaN,25-44,BLACK,M

In [18]:
nyc_2020.shape

(217626, 33)

In [20]:
nyc_2020.to_csv('../NYC_Data/NYC_2020.csv')

In [21]:
nyc_2020.columns.difference(nyc_2021.columns)

Index([], dtype='object')

In [22]:
nyc_2020.head()

,complaint_from,complaint_to,cmplnt_num,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,susp_sex,transit_district,latitude,longitude,lat_lon,patrol_boro,station_name,vic_age_group,vic_race,vic_sex
121,12/22/2020 17:46:00,nan nan,808857971,32.0,2020-12-22,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)",NaN,NaN,25-44,BLACK HISPANIC,M
652,09/02/2020 20:40:00,nan nan,990133707,70.0,2020-09-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.651323,-73.956961,"(40.65132343000005, -73.95696100099997)",NaN,NaN,18-24,BLACK,M
662,07/20/2020 23:44:00,nan nan,420348781,52.0,2020-07-20,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.877554,-73.872939,"(40.877554428000046, -73.87293947099994)",NaN,NaN,18-24,WHITE HISPANIC,M
663,07/02/2020 01:07:00,nan nan,462496511,44.0,2020-07-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,40.837782,-73.919458,"(40.83778161800007, -73.91945797099999)",NaN,NaN,25-44,BLACK HISPANIC,M
669,11/04/2020 09:14:00,nan nan,921351410,28.0,2020-11-04,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,40.799467,-73.951531,"(40.799466801000044, -73.95153053599995)",NaN,NaN,25-44,BLACK,M

In [23]:
#check that both dfs have same columns
diff = nyc_2020.columns.difference(nyc_2021.columns)
diff

Index([], dtype='object')

In [24]:
#combine dfs
#correct index first
start = nyc_2020.shape[0]
stop = nyc_2020.shape[0] + nyc_2021.shape[0]
nyc_2021.index = range(start, stop)
nyc_list = [nyc_2020, nyc_2021]
nyc = pd.concat(nyc_list)
nyc.shape

(314360, 34)

In [25]:
nyc.columns

Index(['complaint_from', 'complaint_to', 'cmplnt_num', 'addr_pct_cd', 'rpt_dt',
       'ky_cd', 'ofns_desc', 'pd_cd', 'pd_desc', 'crm_atpt_cptd_cd',
       'law_cat_cd', 'boro_nm', 'loc_of_occur_desc', 'prem_typ_desc',
       'juris_desc', 'jurisdiction_code', 'parks_nm', 'hadevelopt',
       'housing_psa', 'x_coord_cd', 'y_coord_cd', 'susp_age_group',
       'susp_race', 'susp_sex', 'transit_district', 'latitude', 'longitude',
       'lat_lon', 'patrol_boro', 'station_name', 'vic_age_group', 'vic_race',
       'vic_sex', 'new georeferenced column'],
      dtype='object')

In [26]:
nyc['rpt_dt'] = pd.to_datetime(nyc['rpt_dt'])

In [27]:
nyc.head()

,complaint_from,complaint_to,cmplnt_num,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,transit_district,latitude,longitude,lat_lon,patrol_boro,station_name,vic_age_group,vic_race,vic_sex,new georeferenced column
121,12/22/2020 17:46:00,nan nan,808857971,32.0,2020-12-22,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)",NaN,NaN,25-44,BLACK HISPANIC,M,NaN
652,09/02/2020 20:40:00,nan nan,990133707,70.0,2020-09-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,40.651323,-73.956961,"(40.65132343000005, -73.95696100099997)",NaN,NaN,18-24,BLACK,M,NaN
662,07/20/2020 23:44:00,nan nan,420348781,52.0,2020-07-20,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,40.877554,-73.872939,"(40.877554428000046, -73.87293947099994)",NaN,NaN,18-24,WHITE HISPANIC,M,NaN
663,07/02/2020 01:07:00,nan nan,462496511,44.0,2020-07-02,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,40.837782,-73.919458,"(40.83778161800007, -73.91945797099999)",NaN,NaN,25-44,BLACK HISPANIC,M,NaN
669,11/04/2020 09:14:00,nan nan,921351410,28.0,2020-11-04,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,40.799467,-73.951531,"(40.799466801000044, -73.95153053599995)",NaN,NaN,25-44,BLACK,M,NaN

In [35]:
nyc = nyc.rename(columns={'complaint_to': 'city', 'ofns_desc': 'crime_category', 'rpt_dt': 'date'})

In [33]:
nyc['city'] = 'New York City'

In [36]:
nyc = nyc.loc[:, ['city', 'date', 'crime_category']]

In [29]:
nyc.to_csv("../Data_Clean/NYC.csv")