# ATLANTA, GA

In [1]:
import pandas as pd
import numpy as np

In [2]:
atlanta_2021 = pd.read_csv("../Atlanta_Data/COBRA-2021.csv",
                 dtype={0: 'string'}, parse_dates={'occurred': [2, 3]})
#retrieved 7/7/21

In [3]:
atlanta_2021.shape
atlanta_2021.dtypes
atlanta_2021.head()
atlanta_2021.count()
min(atlanta_2021.occurred)
max(atlanta_2021.occurred)

'nan nan'

In [4]:
atlanta_2020 = pd.read_csv("../Atlanta_Data/COBRA-2020(NEW RMS 9-30 12-31).csv",
                           dtype={0: "string"}, parse_dates={"occurred": [2, 3]})
#retrieved 7/9/21

In [5]:
atlanta_2020.head()
atlanta_2020.shape
atlanta_2020.dtypes
atlanta_2020.count()

occurred             7249
offense_id           7249
rpt_date             7249
poss_date            7094
poss_time            7094
beat                 7249
apt_office_prefix       0
apt_office_num          0
location             7249
MinOfucr                0
dispo_code              0
Shift                   0
loc_type                0
UC2_Literal          7249
ibr_code             7249
neighborhood         6972
npu                  7222
long                 7249
lat                  7249
dtype: int64

In [6]:
#drop empty columns
atlanta_2020.dropna(how="all", axis=1, inplace=True)

In [7]:
#drop crimes with no date and reset the index
atlanta_2020 = atlanta_2020[~atlanta_2020['occurred'].str.contains('nan')]
atlanta_2020.reset_index(drop=True, inplace=True)

In [8]:
atlanta_2020[~atlanta_2020['occurred'].str.contains('2020')]

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,UC2_Literal,ibr_code,neighborhood,npu,long,lat
185,5/13/2019 13:00,203640551,12/29/2020,12/29/2020,11:28,512,232 FORSYTH ST SW,LARCENY-NON VEHICLE,23H,Downtown,M,-84.396366,33.748540
1381,12/12/2012 16:00,203490437,12/14/2020,12/14/2020,8:00,501,1040 HAMPTON ST NW,LARCENY-NON VEHICLE,23D,Home Park,E,-84.407069,33.783162
2018,11/6/2019 11:02,203410702,12/6/2020,12/6/2020,10:00,Out of Jurisdiction,1021 FAIRBURN RD SW,BURGLARY,220,NaN,NaN,-84.511377,33.727542
2503,11/30/1990 19:45,203351563,11/30/2020,11/30/2020,21:08,510,161 PEACHTREE CENTER AVE NE,LARCENY-FROM VEHICLE,23F,Downtown,M,-84.385955,33.759249
3423,1/14/2016 12:00,203230538,11/18/2020,11/18/2020,10:00,Out of Jurisdiction,100 RIDGEBROOK WAY NE,LARCENY-NON VEHICLE,23H,NaN,NaN,-84.290295,33.858319
3599,1010-10-30 17:56,203211166,11/16/2020,11/16/2020,8:00,604,170 BOULEVARD NE,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.371937,33.759062
4745,0220-11-01 23:56,203070154,11/2/2020,11/2/2020,1:42,508,300 LUCKIE ST NW,LARCENY-FROM VEHICLE,23F,Downtown,M,-84.395886,33.762602
5149,12/14/2019 23:00,203011224,10/28/2020,12/15/2019,2:00,207,1400 NORTHSIDE DR NW,LARCENY-NON VEHICLE,23D,Berkeley Park,D,-84.408197,33.792934
5790,2/2/2019 0:00,202940935,10/20/2020,10/20/2020,17:04,414,3293 SAVILLE ST SW,AUTO THEFT,240,Princeton Lakes,P,-84.516606,33.661756
5881,8/20/2019 19:00,202930168,10/19/2020,NaN,NaN,111,3599 M.L.K. JR DR SW,LARCENY-NON VEHICLE,23C,Adamsville,H,-84.504740,33.759971
6330,10/22/2019 17:00,202870969,10/13/2020,10/13/2020,14:14,509,202 COURTLAND ST NE,AUTO THEFT,240,Downtown,M,-84.384369,33.759815
6407,12/5/2019 15:00,202860705,10/12/2020,10/12/2020,20:00,208,3380 PEACHTREE RD NE,LARCENY-NON VEHICLE,23D,North Buckhead,B,-84.366110,33.849634
6561,10/9/1929 21:00,202840586,10/10/2020,10/10/2020,8:42,206,2255 PEACHTREE RD NE,LARCENY-FROM VEHICLE,23F,Buckhead Village,B,-84.379667,33.839546

In [9]:
atlanta_2020.loc[3599, 'occurred'] = '2020-10-30 17:56'
atlanta_2020.loc[4745, 'occurred'] = '2020-11-01 23:56'

In [10]:
min(atlanta_2020.occurred)
max(atlanta_2020.occurred)

'9/6/2020 14:41'

In [11]:
#checking for differences in both dfs
atlanta_2020.columns.difference(atlanta_2021.columns)

Index([], dtype='object')

In [14]:
#combine dfs
#correct index first
start = atlanta_2020.shape[0]
stop = atlanta_2020.shape[0] + atlanta_2021.shape[0]
atlanta_2021.index = range(start, stop)
atlanta_list = [atlanta_2020, atlanta_2021]
atlanta = pd.concat(atlanta_list)
atlanta.shape

(17450, 13)

In [17]:
atlanta.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,11/29/2020 19:21,203341346,12/31/2020,11/29/2020,23:50,405,3050 M.L.K. JR DR SW,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,12/28/2020 17:21,203631200,12/31/2020,12/28/2020,17:45,302,1186 IRA ST SW,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,12/24/2020 14:00,203631285,12/31/2020,12/24/2020,18:26,603,501 BOULEVARD PL NE,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,12/30/2020 20:15,203651634,12/31/2020,12/30/2020,22:25,211,3101 PIEDMONT RD NE,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,12/31/2020 1:15,203660108,12/31/2020,12/31/2020,1:15,306,1974 SYLVAN RD SW,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432

In [31]:
atlanta = atlanta.drop(columns=['offense_id', 'poss_date', 'poss_date', 'poss_time', 'beat', 'location', 'ibr_code', 'neighborhood', 'npu', 'long', 'lat', 'rpt'])

KeyError: "['offense_id' 'poss_date' 'poss_date' 'poss_time' 'beat' 'location'\n 'ibr_code' 'neighborhood' 'npu' 'long' 'lat' 'rpt'] not found in axis"

In [33]:
atlanta = atlanta.rename(columns={'UC2_Literal': 'crime_category', 'rpt_date': 'date'})

In [26]:
atlanta.head()

           occurred    rpt_date        crime_category
0  11/29/2020 19:21  12/31/2020           AGG ASSAULT
1  12/28/2020 17:21  12/31/2020   LARCENY-NON VEHICLE
2  12/24/2020 14:00  12/31/2020   LARCENY-NON VEHICLE
3  12/30/2020 20:15  12/31/2020  LARCENY-FROM VEHICLE
4   12/31/2020 1:15  12/31/2020           AGG ASSAULT

In [28]:
atlanta.insert(loc=1, column='city', value='Atlanta')

In [29]:
atlanta.head()

           occurred     city    rpt_date        crime_category
0  11/29/2020 19:21  Atlanta  12/31/2020           AGG ASSAULT
1  12/28/2020 17:21  Atlanta  12/31/2020   LARCENY-NON VEHICLE
2  12/24/2020 14:00  Atlanta  12/31/2020   LARCENY-NON VEHICLE
3  12/30/2020 20:15  Atlanta  12/31/2020  LARCENY-FROM VEHICLE
4   12/31/2020 1:15  Atlanta  12/31/2020           AGG ASSAULT

In [38]:
atlanta = atlanta.drop(columns='occurred')

In [39]:
atlanta

          city        date        crime_category
0      Atlanta  12/31/2020           AGG ASSAULT
1      Atlanta  12/31/2020   LARCENY-NON VEHICLE
2      Atlanta  12/31/2020   LARCENY-NON VEHICLE
3      Atlanta  12/31/2020  LARCENY-FROM VEHICLE
4      Atlanta  12/31/2020           AGG ASSAULT
...        ...         ...                   ...
17445  Atlanta    7/1/2021  LARCENY-FROM VEHICLE
17446  Atlanta    7/1/2021   LARCENY-NON VEHICLE
17447  Atlanta    7/1/2021            AUTO THEFT
17448  Atlanta    7/1/2021              BURGLARY
17449  Atlanta    7/1/2021  LARCENY-FROM VEHICLE

[17450 rows x 3 columns]

In [40]:
atlanta['date'] = pd.to_datetime(atlanta['date'])

In [ ]:
min(atlanta['rpt_date'])
max(atlanta['rpt_date'])

Timestamp('2021-07-01 00:00:00')

In [ ]:
atlanta.head()

,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,11/29/2020 19:21,203341346,2020-12-31,11/29/2020,23:50,405,3050 M.L.K. JR DR SW,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,12/28/2020 17:21,203631200,2020-12-31,12/28/2020,17:45,302,1186 IRA ST SW,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,12/24/2020 14:00,203631285,2020-12-31,12/24/2020,18:26,603,501 BOULEVARD PL NE,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,12/30/2020 20:15,203651634,2020-12-31,12/30/2020,22:25,211,3101 PIEDMONT RD NE,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,12/31/2020 1:15,203660108,2020-12-31,12/31/2020,1:15,306,1974 SYLVAN RD SW,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432

In [41]:
atlanta.to_csv("../Data_Clean/Atlanta.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Data_Clean/Atlanta.csv'