In [2]:
import pandas as pd
df = pd.read_csv('../CRIME_CATEGORIES_BINNED.csv')
df2 = pd.read_csv('../Data_Clean/Atlanta.csv')

In [3]:
df

,city,crime_category_original,crime_category
0,Atlanta,AGG ASSAULT|AGG ASSAULT|Atlanta,ASSAULT OFFENSES
1,Atlanta,AUTO THEFT|AUTO THEFT|Atlanta,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
2,Atlanta,BURGLARY|BURGLARY|Atlanta,BURGLARY/BREAKING & ENTERING/ROBBERY
3,Atlanta,HOMICIDE|HOMICIDE|Atlanta,HOMICIDE OFFENSES
4,Atlanta,LARCENY|LARCENY|Atlanta,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
...,...,...,...
7418,Seattle,SEX OFFENSES|Sexual Assault With An Object|Sea...,"SEX OFFENSES, FORCIBLE/SEX OFFENSES, NONFORCIBLE"
7419,Seattle,SEX OFFENSES|Sodomy|Seattle,"SEX OFFENSES, FORCIBLE/SEX OFFENSES, NONFORCIBLE"
7420,Seattle,STOLEN PROPERTY OFFENSES|Stolen Property Offen...,LARCENY/THEFT OFFENSES/STOLEN PROPERTY OFFENSE...
7421,Seattle,TRESPASS OF REAL PROPERTY|Trespass of Real Pro...,DISORDERLY CONDUCT/PEEPING TOM/CURFEW/LOITERIN...
7422,Seattle,WEAPON LAW VIOLATIONS|Weapon Law Violations|Se...,WEAPON LAW VIOLATIONS

In [9]:
df2['UC2_Literal']

0                 AGG ASSAULT
1         LARCENY-NON VEHICLE
2         LARCENY-NON VEHICLE
3        LARCENY-FROM VEHICLE
4                 AGG ASSAULT
                 ...
17442    LARCENY-FROM VEHICLE
17443     LARCENY-NON VEHICLE
17444              AUTO THEFT
17445                BURGLARY
17446    LARCENY-FROM VEHICLE
Name: UC2_Literal, Length: 17447, dtype: object

In [11]:
df2

,Unnamed: 0,occurred,offense_id,rpt_date,poss_date,poss_time,beat,location,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,0,11/29/2020 19:21,203341346,2020-12-31,11/29/2020,23:50,405,3050 M.L.K. JR DR SW,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,1,12/28/2020 17:21,203631200,2020-12-31,12/28/2020,17:45,302,1186 IRA ST SW,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,2,12/24/2020 14:00,203631285,2020-12-31,12/24/2020,18:26,603,501 BOULEVARD PL NE,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,3,12/30/2020 20:15,203651634,2020-12-31,12/30/2020,22:25,211,3101 PIEDMONT RD NE,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,4,12/31/2020 1:15,203660108,2020-12-31,12/31/2020,1:15,306,1974 SYLVAN RD SW,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17442,17442,2021-07-01 05:36:00,211820352,2021-07-01,7/1/2021,06:59,102,200 SUNSET AVE NW,LARCENY-FROM VEHICLE,23F,Vine City,L,-84.410452,33.760228
17443,17443,2021-07-01 05:59:00,211820363,2021-07-01,7/1/2021,07:16,502,1184 SPRING ST NW,LARCENY-NON VEHICLE,23C,Midtown,E,-84.389618,33.787026
17444,17444,2021-07-01 03:00:00,211820373,2021-07-01,7/1/2021,06:00,509,134 BAKER ST NE,AUTO THEFT,240,Downtown,M,-84.383079,33.762422
17445,17445,2021-06-29 21:56:00,211820429,2021-07-01,6/29/2021,21:56,103,1910 MACARTHUR BLVD NW,BURGLARY,220,Bolton,D,-84.450860,33.811315
17446,17446,2021-06-30 17:00:00,211820458,2021-07-01,7/1/2021,07:00,510,75 JOHN WESLEY DOBBS AVE NE,LARCENY-FROM VEHICLE,23F,Downtown,M,-84.385197,33.756842

In [7]:
df['crime_category_original'].unique()

array(['AGG ASSAULT|AGG ASSAULT|Atlanta', 'AUTO THEFT|AUTO THEFT|Atlanta',
       'BURGLARY|BURGLARY|Atlanta', ...,
       'STOLEN PROPERTY OFFENSES|Stolen Property Offenses|Seattle',
       'TRESPASS OF REAL PROPERTY|Trespass of Real Property|Seattle',
       'WEAPON LAW VIOLATIONS|Weapon Law Violations|Seattle'],
      dtype=object)